body {
    background-color: #aaa
}

div {
    border: 1px solid black;
}

#output {
    width: 400px;
    margin-top: 10px;
    padding: 10px;
}

table, th, td {
    border: 1px solid black;
    
}

td {
    margin: 3px;
    padding: 3px;
}

.ageTD {
    text-align: center;
}

p {
    margin: 3px auto;
}

#inputBoxes {
    margin: 5px;
    padding: 3px;
    width: 500px;
}

#nameInput {
    width: 150px;
    margin-right: 10px;
}

#ageInput {
    width: 40px;
    margin-right: 10px;
}

#typeInput {
    width: 140px;
}

#addButton {
    margin-left: 40%;
    margin-top: 5px;
}